<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit user</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">
</head>
<body>
<h5>Edit user</h5>
<div class="container-fluid border bg-white py-3 px-5 position-relative">
  <div class="container bg-white d-flex justify-content-center">
      <form class="modal-form" method="post" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
          <input type="hidden" name="_method" value="patch">
      <div class="form-group col-6 container-sm bg-white justify-content-center">
          <div class="form-group row mb-3">
              <label for="userId" class="form-label text-center"><b>ID</b></label>
              <input type="number" class="form-control" name="id" id="userId" readonly th:value="${user.id}">
          </div>
          <div class="form-group row mb-3">
            <label for="username" class="form-label text-center"><b>Username</b></label>
            <input type="text" class="form-control" th:field="*{username}" id="username"  required>
          </div>
          <div class="form-group row mb-3">
            <label for="userSurname" class="form-label text-center"><b>Last name</b></label>
            <input type="text" class="form-control" th:field="*{surname}" id="userSurname" required>
          </div>
          <div class="form-group row mb-3">
            <label for="userEmail" class="form-label text-center"><b>Email</b></label>
            <input type="email" class="form-control" th:field="*{email}" id="userEmail" required>
          </div>
          <div class="form-group row mb-3">
            <label for="userPassword" class="form-label text-center"><b>Password</b></label>
            <input type="password" class="form-control" th:field="*{password}" id="userPassword">
          </div>
          <div class="form-group row mb-3">
            <label class="form-label text-center"><b>Role</b></label>
            <select class="form-select" size="2" name="roles" multiple aria-label="rolesId">
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>
          </div>
          <div class="mx-auto ">
              <a role="button" type="button" href="/admin" class="btn btn-secondary">Close</a>
              <button type="submit" class="btn btn-primary">Edit</button>
          </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>