<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>

<body>
<div class="container-fluid border bg-white py-3 px-5 position-relative">
<div class="container bg-white d-flex justify-content-center">
    <form id="addForm" method="POST" th:action="@{/admin}" th:object="${user}">
        <div class="row mb-3">
            <label for="name" class="form-label text-center"><b>Username</b></label>
            <input type="text" class="form-control" name="username" id="name" placeholder="Username" required>
        </div>
        <div class="row mb-3">
            <label for="surname" class="form-label text-center"><b>Last name</b></label>
            <input name="surname" type="text" class="form-control" id="surname" placeholder="Surname" required>
        </div>
        <div class="row mb-3">
            <label for="email" class="form-label text-center"><b>Email</b></label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="row mb-3">
            <label for="password" class="form-label text-center"><b>Password</b></label>
            <input type="text" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="row mb-3">
            <label for="rolesId" class="form-label text-center"><b>Role</b></label>
            <select name="roles" class="form-select" size="2" multiple aria-label="rolesId" id="rolesId" required>
                <option value="1">ADMIN</option>
                <option value="2">USER</option>
            </select>
        </div>
        <div class="col-6 mx-auto">
            <button type="submit" class="btn btn-success">Add new user</button>
        </div>
    </form>
</div>
</div>
</body>
</html>